   <!--start header section -->
<header class="header-top">

    <div class="rigth-list">
        <i class='bx bx-cog'></i>
        <span class="header-email">fullname@univ-biskra.dz</span>
        <img class="profile-iamge" alt="profile_image" src="./Photos/profile_pic.svg">
    </div>
</header>
<!-- end  header section -->