   <!--start nav-left section -->
<div class="nav-left close">
    <img class="nav-logo" src="./Photos/ligth green logo small.png" alt="logo">
    <i class="fa-solid fa-angle-right toggle"></i>
    <div class="top-section ">

        <img class="top-section-image " alt="profile-iamge" srcset="./Photos/profile_pic.svg">
        <span class="top-section-full-name text">Full Name</span>
        <span class="top-section-email text">FullName@univ-biskra.dz</span>



    </div>

    <div class="middle-section item">

        <a href="" class="middle-section-item ">
            <i class="material-icons middle-section-item-icon">dashboard</i>
            <span class="text">dashboard</span>
        </a>

        <a href="" class="middle-section-item">
            <i class="fa-solid fa-user-group middle-section-item-icon"></i>

            <span class="text">members</span>
        </a>

        <a href="" class="middle-section-item">
            <i class="fa-solid fa-users middle-section-item-icon"></i>
            <span class="text">teams</span>
        </a>
    </div>

    <div class="bottom-section item">

        <a href="" class="bottom-section-item">
            <i class="fa-solid fa-gear bottom-section-item-icon"></i>
            <span class="text">setting</span>
        </a>

        <a href="" class="bottom-section-item logout">
            <i class="bi bi-door-closed bottom-section-item-icon"></i>
            <span class="text">logout</span>
        </a>

    </div>






</div>
<!--end nav-left section -->