@page "/add-member"
@using GLAB.Domains.Models.Teams
@rendermode RenderMode.InteractiveServer

<PageTitle>Add Member</PageTitle>

@if (!string.IsNullOrEmpty(success))
{
    <div class="card text-white m-sm-auto bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">User Add</div>
        <div class="card-body">
            <p class="card-text">@success.</p>
        </div>
    </div>
}

@if (hasError && !string.IsNullOrEmpty(errorMessage))
{
    <div class="card text-white m-sm-auto bg-danger mb-3" style="max-width: 20rem;">
        <div class="card-header">User Add</div>
        <div class="card-body">
            <p class="card-text">@errorMessage.</p>
        </div>
    </div>
}



<div class="w-100 d-flex flex-column main-container gap-4">
    <div class="content-info">
        <h1 class="main-title">Add Member</h1>
        <EditForm class="form-data" Model="member" OnValidSubmit="addMember" FormName="createMemberForm">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="info-container">
                <h2 class="personal-info-title">Personal Informations</h2>
                <div class="d-flex gap-5 flex-wrap">
                    <div class="d-flex flex-column w-25 gap-2">
                        <h6 class="input-field-text">First Name</h6>
                        <InputText class="form-control input-field" @bind-Value=@member.FirstName placeholder="First Name" />
                    </div>
                    <div class="d-flex flex-column w-25 gap-2">
                        <h6 class="input-field-text">Last Name</h6>
                        <InputText class="form-control input-field" @bind-Value=@member.LastName placeholder="Last Name" />
                    </div>
                    <div class="d-flex flex-column w-25 gap-2">
                        <h6 class="input-field-text">Email Address</h6>
                        <InputText class="form-control input-field" @bind-Value=@member.Email placeholder="Email" />
                    </div>
                    <div class="d-flex flex-column w-25 gap-2">
                        <h6 class="input-field-text">Phone Number</h6>
                        <InputText class="form-control input-field" @bind-Value=@member.Phone placeholder="Phone Number" />
                    </div>
                </div>
            </div>

            <div class="info-container">
                <h2 class="personal-info-title">Team Information </h2>
                <div class="fields-container">
                    <div class="d-flex w-100 flex-column gap-2">
                        <h6 class="input-field-text">Team</h6>
                        <InputSelect class="form-select options" @bind-Value=@member.Team>
                            <option selected>Choose Team</option>
                            @foreach(Team team in teams)
                            {
                                <option value="@team.TeamId">@team.TeamName</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <button class="submit-button" type="submit">
                Add Member
            </button>
        </EditForm>
    </div>
</div>